{{#each projects}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href={{heroku}}>{{title}}</a>
		</div>
		<div class="row">
			<div class="col-md-10">
				{{blurb}}
			</div>
			<div class="col-md-2">
				<a href={{github}}>
					github
				</a>
			</div>
		</div>
	</div>

{{/each}}